{% extends 'Sf2MCQCoreBundle::base.html.twig' %}
{% block body %}
	<div class="one">
		<div class="intro-pages">
			<h3><span class="colored">{{ interview.name }}</span></h3>
			<h4>Ce test comporte {{ interview.nbQuestion }} questions et dure {{ interview.prettyDuration }}</h4>
		</div>
	</div>
	<div class="one">
		<form id="register" action="{{ path('start_interview' , { 'id':interview.id } ) }}" method="post" {{ form_enctype(form) }}>
			<h1>Avant de commencer votre test...</h1>
			{{ form_widget(form) }}
			<div style="float:right;margin:10px 48px 10px 0">
				<a class="cool-button round blue" href="">Demarrer le test</a>
			</div>
			<div style="clear:both"></div>
		</form>
	</div>
{% endblock %}
