{% extends 'Sf2MCQCoreBundle::base.html.twig' %}
{% block body %}
	<div class="one">
		<div class="intro-pages">
			<h3><span class="colored">{{ interview.name }}</span></h3>
			<h4>Ce test comporte {{ interview.nbQuestion }} et dure {{ interview.prettyDuration }}</h4>
		</div>
	</div>
	<div class="one">
		<form action="{{ path('start_interview' , { 'id':interview.id } ) }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<input type="submit" />
		</form>
	</div>
{% endblock %}
