{% extends 'Sf2MCQCoreBundle::base.html.twig' %}
{% block body %}
	<div class="one-fourth">
		<h4>Liste des questions</h4>
		<ul>
			{% for key, object in test.interview.questions %}
				<li {% if(object.id == question.id) %}class="current_question"{%endif%}><a href="{{ path("test", { 'index': key+1 }) }}">Question {{ key + 1 }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="question_container">
		<form id="answer" method="post" action="{{ path('submit_answer') }}">
			<input type="hidden" name="index" value="{{ index }}" />
			<h3 class="colored">{{ question.content }}</h3>
			<div class="horizontal-line"></div>
			<ul>
				{% for answer in question.answers %}
				<li class="possible_answer"><input type="checkbox" name="answers[]" value="{{ answer.id }}" />{{ answer.content }}</li>
				{% endfor %}
			</ul>
			<div class="horizontal-line"></div>
			<div style="float:right">
				<a class="cool-button round red">Enregistrer</a>
			</div>
		</form>
	</div>
<script>
	$(".red").click(function(){
		$("#answer")[0].submit();
	});
</script>
{% endblock %}

