{% extends 'Sf2MCQCoreBundle::base.html.twig' %}
{% block body %}
	<div class="one-fourth">
		<h4>Temps restant</h4>	
		<div class="countdown_container">
			<div id="countdown_div">
			</div>
		</div>
		<h4>Liste des questions</h4>
		<ul>
			{% for key, object in test.interview.questions %}
				<li {% if(object.id == question.id) %}class="current_question"{%endif%}><a href="{{ path("test", { 'id': object.id }) }}">Question {{ key + 1 }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="question_container">
		<h3 class="colored">{{ question.content }}</h3>
		<div class="horizontal-line"></div>
		{% if(question.language) %}
		<div style="clear:both">
			<pre class="brush: {{ question.language.code|lower }}">{{ question.code }}</pre>
		</div>
		<div class="horizontal-line"></div>
		{% endif %}
		<form id="answer" action="{{ path('submit_answer', { 'id':question.id } ) }}" method="post" {{ form_enctype(form) }}>
			<ul>
				{% for item in form.answers %}
				<li class="possible_answer">{{ form_widget(item) }}{{ form_label(item) }}</li>
				{% endfor %}
			</ul>	
		</form>
		<div style="float:right;">
			<a class="cool-button round red">Enregistrer</a>
		</div>
		<div style="float:right;margin-right:20px;">
			<a class="cool-button round blue" >Terminer le test</a>
		</div>
	</div>
{% if(question.language) %}
	<script type="text/javascript" src="/js/shScripts/shBrush{{ question.language.code }}.js"></script>
{% endif %}
<script>
	SyntaxHighlighter.all();
	$(".blue").click(function(){
		if(confirm("Etes vous sure de vouloir terminer votre test ?")){
			location.href = '{{ path('test_finished') }}';
		}
	});

	$(".red").click(function(){
		$("#answer")[0].submit();
	});
	
	javascript_countdown.init({{ test.timeleft }}, 'countdown_div' , '{{ path('test_finished') }}');
</script>
{% endblock %}

