{% extends 'Sf2MCQCoreBundle::base.html.twig' %}
{% block body %}
	<div class="one">
		<div class="intro-pages">
			<h3>Bienvenue sur <span class="colored">Sf2MCQ</span>, Votre plateforme de test de recrutement !</h3>
		</div>
	</div>
	<div id="portfolio">
		<ul id="filterable">
			<li class="first">
			<h5>Filtrer par</h5>
			</li>
			<li class="current"><a rel="all" class="categorySwitcher" href="#all">Tout</a></li>
			{% for category in categories %}
				<li><a rel="cat{{ category.id }}" class="categorySwitcher" href="#cat{{ category.id }}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
		<div class="portfolio-container" id="columns">
			<ul id="categoryContainer">
				{% for category in categories %}
					{% for subject in category.subjects %}
					<li class="one-fourth cat{{ category.id }}">
						<p>
							<a href="{{ path('subject', { 'id': subject.id, 'slug': subject.slug }) }}" class="portfolio-item-preview">
								<img src="images/portfolio/portfolio-img-01.jpg" alt=" " width="210" height="145" class="portfolio-img pretty-box"/>
							</a>
						</p>
						<h4><a href="{{ path('subject', { 'id': subject.id, 'slug': subject.slug }) }}">{{ subject.name }}</a></h4>
						<p>{{ subject.description }}</p>
					</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
