{% extends 'Sf2MCQCoreBundle::base.html.twig' %}
{% block body %}
	<div class="one">
		<div class="intro-pages">
			<h3>Liste des test <span class="colored">{{ subject.name }}</span></h3>
		</div>
	</div>
	<div class="one">
		<table>
			<tr>
				<th>
					Test
				</th>
				<th>
					Niveau
				</th>
				<th>
					Nombre de questions
				</th>
				<th>
					Durée
				</th>
				<th>
					Action
				</th>
			</tr>
		{% for test in subject.interviews %}
			<tr>
				<td>
					<strong>
						{{ test.name }}
					</strong>
				</td>
				<td>
					{{ test.level.name }}
				</td>
				<td>
					{{ test.nbQuestion }}
				</td>
				<td>
					{{ test.prettyDuration }}
				</td>
				<td>
					<a class="cool-button round blue" href="#">Demarrer le test</a>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}
